.app-content {
  text-align: center;
  width: 100%;
  height: 70%;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 100px;
  margin-left: 20px;
  margin-right: 20px;
}

.navlinks {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.PTIModal,
.ContactModal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  background: rgb(78, 78, 78);
  padding: 20px;
  border: 1px solid #ccc;
  outline: none;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.title {
  font-size: 25px;
  font-weight: bold;
  align-self: center;
  color: "#E1DCDC";
}

.PTIButton,
.ContactButton {
  cursor: pointer;
}

.ContactModal form {
  display: flex;
  flex-direction: column;
}

.ContactModal label {
  margin-bottom: 10px;
}

.ContactModal input,
.ContactModal textarea {
  width: 100%;
  margin-top: 5px;
}

.ContactModal button {
  margin-top: 10px;
  padding: 20px;
}

.chart-container {
  margin-top: 50px;
}

.userForm {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.userForm form {
  width: fit-content;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  background-color: rgba(133, 133, 133, 0.2);
  padding: 35px;
  border-radius: 5px;
}

.userForm label {
  margin-bottom: 10px;
}
